body {
    background-color: black;
}

.int {
    color:burlywood
}

.realnum {
    color:cornflowerblue
}

.comentario {
    color:green
}

.delimitador {
    color:khaki
}

.string {
    color:darksalmon
}

.operator{
    color:white
}

.avanzado{
    color:red
}

.keyword{
    color:purple
}

.identifier{
    color:skyblue
}
